@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#css {
  font-variant:small-caps;
  font-weight:200;
  font-style: oblique;
  color:red;
}
p {
  font-size:15px ;
}